seccion{
  display: block;
  border: 2px solid ;#479DCC;
  width: 400px;
  overflow: auto;
}
.box{
  background-color: #C3C4FC;
}
.cajas{
  height: 100px;
  width: 100px;
}
h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
hr {
  width: 50%;
}

.box div:nth-child(3){
   background: yellow;
}
.box div:nth-child(4){
   background: blue;
}
.box div:nth-child(5){
   background: red;
}
.dos div:nth-child(3), .dos div:nth-child(4), .dos div:nth-child(5){
  float: left;
}
.tres div:nth-child(3), .tres div:nth-child(4), .tres div:nth-child(5){
  float: right;
}
