.box{
  background-color: #C3C4FC;
}
.cajas{
  height: 100px;
  width: 100px;
}
h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
hr {
  width: 50%;
}
 /*.box:nth-child(3){
   background-color: yellow;
 }*/

.box div:nth-child(3){
   background: yellow;
}
.box div:nth-child(4){
   background: blue;
}
.box div:nth-child(5){
   background: red;
}
